#monke{
    background-color: black;   
    color: whitesmoke;
    }
#heading1{
    font-size: 134px;
    color: blue;
    text-shadow: 10px 10px 10px white;
}
.movie_pic{
    
    height: 600px;
    width: 400px;
}
.pic_name{
color: blue;
font-size: 30px;
}
#transformers {
    color: black;
}
#movie65 {
    color: black;
}
#mario {
    color: black;
}
#pussinboots2 {
    color: black;
}
#therockiscool {
    color: black;
}
#thelizardiscool{
    color: black;
}